.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-box {
    display: flex;
    flex-direction: column;
    margin: n300px auto;
    width: 600px;
    height: fit-content;
    border-radius: 16px;
    background-color: #FFFFFC;
}

span {
    font-size: 25pt;
}

#text {
    text-align: center;
    margin: 20px;
    font-size: 25pt;
}

#author {
    text-align: right;
    margin-right: 20px;
    font-size: 13pt;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

button {
    border: none;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 12pt;
    color: #FFFFFC;
}

button:active {
    transform: scale(0.95);
}

a {
    text-decoration: none;
    color: #FFFFFC;
}