#quote-box {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: n300px auto;
    width: 600px;
    border-radius: 5px;
}

span {
    font-size: 25pt;
    color: lightblue;
}

#text {
    text-align: center;
    margin: 20px;
    font-size: 25pt;
    color: lightblue;
}

#author {
    text-align: right;
    margin-right: 20px;
    font-size: 13pt;
    color: lightblue;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

button {
    border: none;
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 12pt;
    background-color: lightblue;
}

button:active {
    transform: scale(0.95);
}